POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=

BACKEND_PORT=
FRONTEND_PORT=
ASPNETCORE_ENVIRONMENT=
ASPNETCORE_URLS=
ConnectionStrings__DefaultConnection=Host=;Port=;Database=;Username=;Password=
VITE_API_URL=
